<div>
  <div class="d-flex mb-3" aria-label="status">
    <div class="me-1">Status:</div>
    <%= @essay_proposal.status %>
  </div>
  <% if @essay_proposal.rejected? && @essay_proposal.revision_message %>
    <div aria-label="keterangan">
      Keterangan
      <div class="border p-2" style="min-height: 180px; ">
        <%= @essay_proposal.revision_message %>
      </div>
    </div>
  <% elsif @essay_proposal.approved? && @essay_proposal.official_memo.present? %>
    <%= nosubmit_bootstrap_form_with(model: @essay_proposal) do |f| %>
        <%= f.file_preview :official_memo %>
    <% end %>
  <% end %>
</div>
