<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav flex-column" id="main-menu">
      <%= render "shared/sidebar_mahasiswa" %>
  </div>
</nav>
