<div class="mx-auto" style="max-width: 720px">

  <h2 class="text-center">Postingan</h2>
  <%= render "add_post_section" %>

  <div class="grid" style="--bs-columns: 1">
    <%= render @posts %>
  </div>
</div>